#main configuration to be adapted
MAIN_USER=ubuntu
NFS_DIR=/nfs

#advanced configuration (should not be change unless you know what you do)
RM_DIR_EACH=10m

#do not change following
LHPO_PATH=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )/../
alias cdl="cd $LHPO_PATH"
PATH="$PATH:$LHPO_PATH/aws/"
